@{
  Layout = "_Layout";
}
<h1>Project Name or some other header</h1>
<p>@Html.ActionLink("View All ChildObjects", "Index", "ChildObjects")</p>
<p>@Html.ActionLink("View All ParentObject Categories", "Index", "ParentObjects")</p>