@{
  Layout = "_Layout";
}

@model ProjectName.Models.ChildObject

<h4>Add a new ChildObject</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.SomeProperty, new {@class="form-label"})
  @Html.TextBoxFor(model => model.SomeProperty, new {@class = "form-control", type="text", id="some-property"})

  <input type="submit" value="Add ChildObject" class="btn btn-outline-success" />
}
<p>@Html.ActionLink("Back to All ChildObjects", "Index")</p>